@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   font-family: "Roboto";
   color: #333;
 }

 .navbar {
  display:block;
  z-index: 99;
  position: sticky;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
}
.navbar h1 {
  color: #f1356d;
  font-size: 30px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  font-size: 20px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.navbar-mobile {
  display:none ;
  z-index: 99;
  position: sticky;
  top: 0;
  padding: 10px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
}
.navbar-mobile h1 {
  color: #f1356d;
  font-size: 35px;
}
.navbar-mobile .links {
  display:block;
  margin-left: auto;
}
.navbar-mobile a {
  text-align: center;
  display:block;
  font-size: 20px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar-mobile a:hover {
  color: #f1356d;
}
@media screen and (max-width: 830px) {
  .navbar{
    display: none ;
  }
  .navbar-mobile{
    display: block ;
  }
}

.content {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px;
  padding-top: 10px;
  background-color: #fff;
  height: 100%;
}

/* recipe previews / list */
.recipe-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe-preview {
  font-size: 120%;
  height: 250px;
  display:flex;
  text-decoration: none;
  justify-content: space-between;
  flex-direction: column;
  width:32%;
  min-width: 300px;
  max-width: 500px;
  margin: 3px;
  padding:0px;
  border: 1px solid;
  border-color: #f1356d;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  flex-grow: 1;
}

.recipe-preview h2 {
  font-size: 20px;
  color: #f1356d;
  text-decoration: none;
}
.recipe-preview a{
  text-decoration: none;
}


.text-container{
  transition: height 0.5s;
  background-color: #ffffffc4;
  text-decoration: none;
  width: 100%;
  height: 30%;
  border-color: #ffffff;
  border-radius: 8px;
  object-fit:contain;
  overflow:hidden;
  position: absolute;
  bottom: 0;
}

.recipe-preview:hover {
  background-blend-mode: color;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
} 
.recipe-preview:hover .text-container{
  transition: height 0.5s;
  height: 80%
}

.recipe-preview button {
  background: hsl(342, 87%, 58%);
  color: #fff;
  border: 0;
  padding: 8px;
  margin:1px;
  border-radius: 8px;
  cursor: pointer;
}
.recipe-preview button:hover{
  background: hsl(342, 87%, 30%);
}


.text-container-header{
  display: flex;
  justify-content: space-between;
}

/* recipe details page */
.recipe-details  {
  font-size: 120%;
  margin: auto;
  max-width: 900px;
}

.recipe-details #userRating{
  color:#f1356d;
  font-size: 20px;
  font-weight: bold;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tight-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.half-containers {
  border: 1px solid;
  border-color: #333;
  height: 600px;
  min-width: 300px;
  width: 45%;
  overflow:auto
}
.last-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #f1356d;
  align-items: center;
}

.recipe-details img{
  display:block;
  margin:auto;
  max-height: 400px;
  max-width: 90%;
  border: 2px fill;
  border-radius: 8px;
  border-color: #fff;
}

.recipe-details button {
  background: hsl(342, 87%, 58%);
  color: #fff;
  border: 0;
  padding: 8px;
  margin:1px;
  border-radius: 8px;
  cursor: pointer;
}
.recipe-details button:hover{
  background: hsl(342, 87%, 30%);
}

.recipe-details h3{
  color:#f1356d;
}
/* not found */
.not-found{
  text-align: center;
}
.not-found h2{
  text-align: center;
  color:#f1356d;
  padding: 6px 10px;
  margin: 10px 0;
}
.not-found p{
  text-align: center;
  color:#333;
  padding: 6px 10px;
  margin: 10px 0;
}
/*Register*/
.register {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.register label {
  text-align: left;
  margin-top: 5px;
  display: block;
}
.register h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 5px;
}
.register p{
  margin-top: 0;
  font-size: small;
  color:red;
  text-align: left;
  margin-left: 2px
}

.register input{
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.register textarea{
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  resize:none;
  display: block;
}
.register img{
  text-align: center;
  width: 50%;
  max-height: 30%;
}
.register button {
  background: hsl(342, 87%, 58%);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.register button:hover{
  background: hsl(342, 87%, 30%);
}
.register #disabledButton{
  background: hsl(342, 87%, 30%);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: not-allowed;
}

.register input[type=file] {
  max-width: 100%;
  padding: 1px;
  border-radius: 8px;
  background: #fff;
}
.register input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: hsl(342, 87%, 58%);
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

/* user details */
.user-details{
  max-width: 1000px;
  margin:auto;
}
.user-picture{
  text-align: center;
  margin:auto;
  margin-right: 10px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid #f1356d;
}
.user-details button{
  background: hsl(342, 87%, 58%);
  color: #fff;
  border: 0;
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
}
.user-details button:hover{
  background: hsl(342, 87%, 30%);
}

/* recipe rating */
.recipe-rating {
  display: inline-block;
}
.recipe-rating * {
  float: right;
}
.recipe-rating input {
  display: none;
}
.recipe-rating label {
  font-size: 18px;
}
.recipe-rating label:hover{
  color: #f1356d;
}

.recipe-rating label:hover ~ label {
  color: #f1356d;
}

.recipe-rating input:checked ~ label {
  color: #f1356d;
}
.recipe-rating input:checked ~ label:hover {
  color: #861b3b;
}
.recipe-rating input:checked ~ label:hover ~ label {
  color: #861b3b;
}


/*Comments */

.comment{
  padding: 3px;
  border-top:1px solid;
  margin: 0px;
  border-color: #ffa2be
}
.comment-header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment-list button {
  background: hsl(342, 87%, 58%);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.comment-list button:hover{
  background: hsl(342, 87%, 30%);
}

/*comment-new*/
.comment-new button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.comment-new #disabledButton{
  background: hsl(342, 87%, 30%);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: not-allowed;
}

.comment-new textarea{
  margin-top: 10px;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  resize: vertical;
  display: block;
}

input[type=file]::file-selector-button:hover {
  background: hsl(342, 87%, 30%);
}
.categories{
  display: table-row;
}
.categories label { 
  display: flex; 
  align-items: center; 
} 
.categories input[type=checkbox]{ 
  flex: none; 
} 

/* StarRating */
.star-container{
  position: relative;
}
.stars{
  color:#f1356d;
  top: 0;
  left: 0;
  z-index: 5;
}

.empty-stars{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  color:#333
}

.recipe-selector{
  margin: 0%;
  padding-top:10px;
  padding-bottom:10px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.recipe-selector label{
  margin:2px;
  font-size: 20px;
}
.recipe-selector select {
  margin:2px;
  font-size: 20px;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ffa2be;
  border-radius: 0.25rem;
  color: #333;
  cursor: pointer;
}
.category-list{
  text-align: left;
  width: 100%;
}
.category-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  border-color: #861b3b;
}
/* admin-panel */

.admin-panel .h1{
  text-align: center;
  margin:auto;
  width:100%;
}

.comments-container{
  border: 1px solid #333;
  max-height: 500px;
  overflow: auto;
}
.recipe-container{
  border: 1px solid #333;
  max-height: 500px;
  overflow: auto;
}
.category-manager{
  padding: 2px;
  max-height: 500px;
}
.image-manager{
  padding: 2px;
  max-height: 500px;
}

.image-box{
  float: left;
  position: relative;
  padding: 0;
}
.background-image{
    position: relative;
    height: 500px;
    width: 500px;
    object-fit: contain;
}


.admin-row{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
  height: 100%;
  width: 100%;
  position: absolute;
    top:0;
    left:0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-right-button{
  background-color: #ffffff00;
  border: 0px;
  font-size: 200%;
  
}
.left-right-button:hover{
  background-color: #f83a79af;
  border: 0px;
  cursor: pointer;
}
.delete-button{
  margin:auto;
  margin-top: 2px;
}

#unfavourite{
  background: #861b3b;
  padding:5px;
  margin: 1px;
}
#unfavourite:hover{
  background: #f1356d;
  padding:5px;
  margin: 1px;
}

#favourite{
  background: #f1356d;
  padding:5px;
  margin: 1px;
}
#favourite:hover{
  background: #861b3b;
  padding:5px;
  margin: 1px;
}